*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e8fde8;
    color: #745052;
    text-align: center;
    background-image: url("/assests/1413.jpg");
}

.conteudo {
    padding: 20px 100px;
}

.nav-bar{
    background-color: #ffffff;
}

.nav-bar-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0px 20px 30px;
    list-style-type: none;
}

.nav-item{
    padding-left: 15px;
    text-decoration: none;
    color: #745052;
    font-weight: bold;
}

.sobre {
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.233);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 45%;
}

.img-tecs {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
}

.lista-soft-skill {
    padding-top: 30px;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

footer{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-position: center center;
    background-image: url("/assests/estilo-de-desenho-de-ilustracao-de-cachorro_53876-36827.jpg");
    background-color: white;
}
